<h1 *ngIf="authService.user | async">Hello {{ (authService.user | async)?.email }}</h1>

<div *ngIf="!(authService.user | async)">
  <!-- <script>
    function mine(a, b){
      var e = document.getElementById('email').value
      var pw = document.getElementById('password').value
      var login = document.getElementById('login')
      login.click()
    }

  </script> -->
    <input type="text" #email required placeholder="email">
    <input type="password" #password required placeholder="password">
    <button (click)="signIn()" #login>Login</button>

</div>

<button (click)="signOut()" *ngIf="authService.user | async">Logout</button>
